

.card{
    position: relative;
}

.card img {
    width: 100%;
    display:block;
    border-radius: 1px;
    border: 1px solid;
}

.card .frontCover {
    transform: rotateY(90deg);
    position: absolute;
}
.flipped .frontCover {
    transform: rotateY(0deg);
}