html,
body {
   /* Created with https://www.css-gradient.com */
  
  background: -webkit-linear-gradient(top left, #6A8BED, #B5F2FC);
  background: -moz-linear-gradient(top left, #6A8BED, #B5F2FC);
  background: linear-gradient(to bottom right, #6A8BED, #B5F2FC);
  color: #333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  align-items: center;
  position: relative;
  font-size: x-large;
  margin-right: 200px;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.exit_btn {
  width: 100px;
  border: none;
  padding: 6px ;
  margin: 4px;
  background: #D4190C;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.btn {
  width: 100px;
  border: none;
  padding: 6px ;
  margin: 4px;
  background: #F4A236;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
}
