.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  position: relative;
  top: 40px;
  right:20px;
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #0AB169;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.avatar_container1{
  position: relative;
  margin: auto;
  padding: 40px;
  left: 123px;
  
}
.avatarInput{
  position: relative;
  top: 40px;
  right: 160px;
  padding: 5px;
  border-radius: 6px;
  
}

